---
---

/*@import "{{ site.theme }}";*/

/*@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";*/

/* Default light mode styles */
/*body {
  background-color: #ffffff;
  color: #000000;
}*/

/* Dark mode styles */
/*@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #e0e0e0;
  }
}*/

table {
   width: -webkit-fill-available;
   text-align: left;
}

table, th, td {
   border-style: solid;
   border-color: black;
   border-width: 1px;
}


