---
---

@import "{{ site.theme }}";

/*@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";*/

/* Default light mode styles */
/*body {
  background-color: #ffffff;
  color: #000000;
}*/

/* Dark mode styles */
/*@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #e0e0e0;
  }
}*/

